html, body, div#app {
    height: 100%;
    font-size: 12px;
}

.absolute {
    position: absolute;
}

.v-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.v-align-xs {
    position: relative;
    top: 20%;
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
}

th.spacer {
    width: 20%;
}

table.info {
    margin: 2em 1em 2em 1em;
}

table.info td {
    padding: 0.3em 1em 0.3em 1em;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.fade-enter {
    opacity: 0;
    transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
    opacity: 1;
}

.fade-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
    opacity: 0;
}

@media screen {
    .page-break  {
	height: 5em;
    }
}

@media print {
    div#print-modal {
	position: relative;
	width: 100%;
	overflow-y: auto;
    }

    div#print-modal .modal-content {
	border: 0;
    }

    .page-break  {
	display:block;
	page-break-before:always;
	height: 2em;
    }
}
